* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/879598526143799296/880251986329604189/1.jpg");
  box-sizing: border-box;
}
#background #colorFondo {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.336);
}
#background #colorFondo #header {
  position: relative;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  transition: all 1s ease;
  padding-inline-end: 50px;
}
#background #colorFondo #header .logotipo {
  flex-flow: nowrap;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
#background #colorFondo #header .logotipo .logo {
  display: flex;
  transition: all 0.5s ease;
  padding-inline-start: 50px;
}
#background #colorFondo #header .btn {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
#background #colorFondo #header .btn .button {
  font-family: "Franklin Gothic heavy";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.911);
  height: 35px;
  width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
#background #colorFondo #header .btn .button:hover {
  color: #E40C34;
  background-color: white;
  transition: all 0.5s ease;
}
#background #colorFondo #header .btn .buttonO {
  font-family: "Franklin Gothic heavy";
  font-size: 12px;
  color: #e7e3e3;
  height: 35px;
  width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E40C34;
  border-radius: 9px;
}
#background #colorFondo #header .btn .buttonO:hover {
  color: #E40C34;
  background-color: white;
  transition: all 0.5s ease;
}
#background #colorFondo #titulo {
  position: fixed;
  display: flex;
  left: 50px;
  height: 100%;
  width: 35%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
#background #colorFondo #titulo .cuadrotexto {
  height: 250px;
  flex-flow: column;
  display: flex;
  font-family: "Franklin Gothic heavy";
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}
#background #colorFondo #titulo .cuadrotexto .titulo1 {
  display: flex;
  font-size: 40px;
  z-index: 12px;
}
#background #colorFondo #titulo .cuadrotexto .info {
  font-family: "Franklin Gothic medium";
  display: flex;
  font-size: 20px;
}
#background #colorFondo #titulo .cuadrotexto .btnorder2 {
  font-family: "Franklin Gothic heavy";
  font-size: 15px;
  color: #e7e3e3;
  height: 48px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E40C34;
  border-radius: 9px;
}
#background #colorFondo #titulo .cuadrotexto .btnorder2:hover {
  background-color: white;
  color: #E40C34;
  transition: all 0.5s ease;
}
#background #colorFondo #footer {
  position: fixed;
  height: max-content;
  width: 530px;
  bottom: 30px;
  right: 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  transition: all 1s ease;
}
#background #colorFondo #footer .imagen {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 10px;
  background-color: #E40C34;
}
#background #colorFondo #footer .imagen img {
  border-radius: 10px;
}
#background #colorFondo #footer .imagen:hover {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
